@font-face {
    font-family: Shabnam;
    src: url(./../fonts/shabnam-font-v5.0.1/shabnam-font-v5.0.1/Shabnam-Light.ttf);
}
@font-face {
    font-family: Shabnam2;
    src: url(./../fonts/shabnam-font-v5.0.1/shabnam-font-v5.0.1/Shabnam-Bold.ttf);
}